:root {
	--main-bg-color: #fafafa;/*основной цвет фона*/
	--main-txt-color: #262626;/*основной цвет текста*/
	--unactive-txt-color: #999;/*цвет неактивного текста*/
	--btn-txt-color: #fff;/*цвет текста кнопки*/
	--elems-color: #DAA520;/*цвет элементов*/
	--elems-hover: #DAA520;/*цвет элементов при наведении*/
	--brd-color: #ccc; /*цвет бордеров*/
	--overlay-color: #262626;/*цвет оверлея*/
	--header-bg: #f8f8f8;/*фон хедера*/
	--header-brd: #e7e7e7;/*фон бордера хедера*/
}